<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPHv6IaCBWwn0bQlQ7vgOMfrDSHoxsEeg</string>
	<key>GCM_SENDER_ID</key>
	<string>277640901613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mentorforge.app</string>
	<key>PROJECT_ID</key>
	<string>mentorforge-373b2</string>
	<key>STORAGE_BUCKET</key>
	<string>mentorforge-373b2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277640901613:ios:200b99dc157b8b85fdade4</string>
</dict>
</plist>
